{% extends 'base.html' %}
{% block content %}
    <h1>Bienvenido a JQimportaciones</h1>
    <p>Descubre una amplia gama de productos a excelentes precios.</p>
    
    <h2>Productos Destacados</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'product_detail' sku=product.sku %}">
                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.title }}">
                </a>
                <div class="card-body">
                    <h6 class="card-title">{{ product.name }}</h6>
                    <p class="card-text">${{ product.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
