{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image }}" class="d-block w-100" alt="{{ product.name }}">
                    </div>
                    {% endfor %}
                </div>                    
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Thumbnail Carousel -->
            <div class="row mt-3">
                {% for image in images %}
                <div class="col-3">
                    <a href="#" data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}">
                        <img src="{{ image }}" class="img-thumbnail">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <!-- <h3>${{ product.price }}</h3> -->
            <h3>${{ product.price_in_pesos | floatformat }}</h3>
            <p>{{ product.description|linebreaks }}</p>
        </div>
    </div>
</div>
{% endblock %}